{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <form class="form" action="part1-about-you-name-dob-ni" method="post">
        <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l">Application</span>
            Evidence uploaded
        </h1>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h2 class="nhsuk-heading-m">Files added</h2>
            
            <dl class="nhsuk-summary-list">
            
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  File 1
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <a download href="/">coroners-report.jpg</a>, 2MB
                </dd>
            
                <dd class="nhsuk-summary-list__actions">
            
                  <a class="nhsuk-link" href="/v9/attachments-delete1">
                    Delete<span class="nhsuk-visually-hidden"> </span>
                  </a>
            
                </dd>
            
              </div>
     
            </dl>
          </div>
        </div>

        <div class="nhsuk-form-group">
          
          <fieldset class="nhsuk-fieldset" aria-describedby="attachments-add-conditional-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">

                Do you want to upload more evidence?

            </legend>            
            <!-- <span id="attachments-add-conditional-hint" class="govuk-hint">
            hint text goes here.
            </span>-->

          <div class="nhsuk-radios nhsuk-radios--inline">
            <div class="nhsuk-radios nhsuk-radios--conditional" data-module="radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="attachments-add-conditional" name="attachments-add-v9" type="radio" value="yes" data-aria-controls="conditional-attachments-add-conditional">
                <label class="nhsuk-label nhsuk-radios__label" for="attachments-add-conditional">
                  Yes
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="attachments-add-conditional-2" name="attachments-add-v9" type="radio" value="no" data-aria-controls="conditional-attachments-add-conditional-2">
                <label class="nhsuk-label nhsuk-radios__label" for="attachments-add-conditional-2">
                  No
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

        <button class="nhsuk-button" data-module="nhsuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
