<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Vaccine Damage Payment Scheme
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <header class="page-header">
            <span class="heading-secondary">Vaccine Damage Payment Scheme</span>
            <h1 class="nhsuk-heading-l govuk-heading-l">Declaration B2</h1>
      </header>

      <p>I consent to the access and examination of my medical records in connection with the claim or any appeal made 
          under the Vaccine Damage Payments Act 1979. <b>I agree</b> that</p>

        <ul>
          <li>the NHS Business Services Authority</li>
          <li>any doctor advising the NHS Business Services Authority</li>
          <li>any organisation with which the NHS Business Services Authority has a contract for the provision of
                medical services or any doctor providing services to that organisation</li>
        </ul>

      <p>may ask any of the people or organisations mentioned on this form for any information which is needed to deal with</p>

        <ul>
          <li>this claim for a Vaccine Damage Payment or</li>
          <li>any request for this claim to be looked at again</li>
        </ul>

         <p>and that such information may be given to that doctor, organisation or the NHS Business Services Authority; and 
            to the Department of Health and Social Care to help carry out its policy responsibilities for the Vaccine Damage Payments Scheme.</p>

<br>
          <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              I agree and accept this declaration
              </label>
              </div>
          </div>
<br><br>
                  <form action="part9-contact-preference" method="post" novalidate>
                      <button class="nhsuk-button" type="submit">
                                Submit
                      </button>
                  </form>
    
    </div>
  </div>
{% endblock %}
